<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Energy Freedom Pledge Viewer</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1>Energy Freedom Pledge Viewer</h1>
      </div>
    </div>

        {### BEGIN FORM ###}
        {{ form_start(form) }}

    {### User ###}
    <div class="row">
      <div class="large-8 medium-8 columns">
          <div class="panel">
      <h4>Welcome, {{ full_name }}.</h4>
      <p>If this isn't you, please <a href="http://energyfreedom-beyondzeroemissions.nationbuilder.com/logout">sign out</a> and try again.</p>
  </div>

      </div>
    </div>

      <div class="row">
        <div class="large-8 medium-8 columns">
          {{ form_widget(form) }}
        </div>

      {### END FORM ###}

      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="small radius button" />
          <input type="reset" class="small radius button" />
        </div>
      </div>

      {{ form_end(form) }}

    </form>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
